img {
    width: 90px;
    height: 90px;
    float: left;
   }
   
   #idCard {
    border: 5px solid black;
    height: 14em;
    width: 25em;
    background-color:pink;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border-radius: 25px;
   }
   
   
   body {
     background-color: lightblue;
     text-align: center;
   }
   
   label {
     font-weight: bolder;
   }
   
   #postFullName {
     text-align: right;
     font-family: arial;
     font-size: 30px;
     font-weight: bolder;
     padding-right: 75px;
   }
   
   #postAge {
     text-align: left;
     padding-left: 20px;
     font-family: arial;
   }
   
   #postPhoneNumber {
     text-align: left;
     padding-left: 20px;
     font-family: arial;
   }
   
   #postAddress {
     text-align: left;
     padding-left: 20px;
     padding-bottom: 40px;
     font-family: arial;
   }
   
   
   
   
   
   
   
   